[submodule "external/ntripcaster"]
	path = external/ntripcaster
	url = https://github.com/roice/ntripcaster.git
[submodule "external/ntripserver"]
	path = external/ntripserver
	url = https://github.com/ursereg/ntripserver.git
